* {
	font-family: "D-DIN", sans-serif;
	text-decoration: none;
	outline: none;
}
:root {
	--color1: #001b2c;
	--color2: #004a94;
	--color3: #43c3dd;
	--color4: #d9edf8;
}
::-webkit-scrollbar {
	/* display: none; */
}

ul {
	list-style: none;
}

@font-face {
	font-family: "D-DIN";
	src: url("/fonts/D-DIN.otf") format("otf");
}

@font-face {
	font-family: "D-DIN Bold";
	src: url("/fonts/D-DIN-Bold.otf") format("otf");
}
