* {
	font-family: sans-serif;
	text-decoration: none;
	outline: none;
}
:root {
	--color1: #001b2c;
	--color2: #004a94;
	--color3: #43c3dd;
	--color4: #d9edf8;
}
::-webkit-scrollbar {
	display: none;
}

ul {
	list-style: none;
}
