services:
    frontend:
        image: frontend
        build: ./frontend
        volumes:
            - ./frontend:/app
            - /app/node_modules
        ports:
            - "80:3000"
        depends_on:
            - backend

    backend:
        image: backend
        build: ./backend
        volumes:
            - ./backend:/app
            - /app/node_modules
        ports:
            - "81:5000"
