services:
    db:
        image: postgres:15
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

    frontend:
        image: frontend_deploy
        build:
            context: ./frontend
            dockerfile: Dockerfile.prod
        ports:
            - "3000"
        depends_on:
            - backend

    backend:
        image: backend_deploy
        build:
            context: ./backend
            dockerfile: Dockerfile.prod
        ports:
            - "5000"

    nginx:
        image: nginx:latest
        container_name: nginx_server
        ports:
            - "80:80"
        volumes:
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - frontend
            - backend

volumes:
    pgdata:
